
.img-logo{
background-color: green;
width: 75px;
height: 50px;
object-fit: cover;
object-position: center;
}

.narbar-nav{
background-color:  rgba(33, 233, 33, 0.274) ;
margin-left: auto;
}

.img-carrusel{
    height: calc(100vh - 76px);
    object-fit: cover;
    object-position: center;
    
}

.pantalla{
z-index: 1;
width: 100%;
height: calc(100vh - 76px);
position: absolute;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

.cuadro{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    opacity: 1;
    color: white;
    padding: 2rem;


}
.img-card{
width: 100%;
    height: 20vh;
    object-fit: cover;
    object-position: center;



}

.videoIframe{

    width: 100%;

    height: 50px ;





}