
.img-logo{

width: 100px;
height: 100 px;

object-position: center;
}

.narbar-nav{

    margin-left: auto;
    }

.parrafo1{

text-align: center;

}

.img-carrusel{
    height: calc(100vh - 76px);
    object-fit: cover;
    object-position: center;
    
}

.pantalla{
z-index: 1;
width: 100%;
height: calc(100vh - 76px);
position: absolute;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

.cuadro{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    opacity: 1;
    color: white;
    padding: 2rem;


}
.img-card{
width: 100%;
    height: 20vh;
    object-fit: cover;
    object-position: center;



}

.card-text{
font-family: sans-serif ;
 text-align: justify;
 width: 100%;
 height: 30vh;
    




}

.card-body{

    height: auto;

}





.videoIframe{

    width: 100%;

    height: 50px ;





}

.text-adoptar{

    text-align: justify;


}

.text-padrino{

    text-align: center;
}

.perri-img{

width: 45%;
align-items: center;
object-fit: cover;
object-position: center;


}